<%- include('../includes/head.ejs') %>
<link rel="stylesheet" href="css/home.css">
<body>
    <nav class="navbar navbar-default">
      <div class="container-fluid">
        <div class="collapse navbar-collapser" id="myNavbar">
          <ul class="nav navbar-nav main-header__item-list" >
            <li class="main-header__item">
                <a href="/" >Features</a>
            </li>
            <li class="main-header__item">
                <a href="/">Contact Us</a>
            </li>
            <li class="main-header__item">
                <a href="/signup">Signup</a>
            </li>
            <li class="main-header__item">
                <a href="/login">Login</a>
            </li>
          </ul>
        </div>
      </div>
    </nav>
<%- include('../includes/end.ejs') %>