<%-include('../includes/head.ejs') %>
<link rel="stylesheet" href="css/home.css" />
<link rel="stylesheet" href="css/main.css">
<body>
  <%- include('../includes/navigation.ejs') %>

    <div class="covertext">
      <div class="col-lg-10" style="float: none; margin: 0 auto">
        <h1 class="title">SALESMATE</h1>
        <h3 class="subtitle">
          Streamline Your Inventory, Simplify Your Success with SalesMate.
        </h3>
      </div>
      <div class="col-xs-12 explore">
        <a href="/"
          ><button type="button" class="btn btn-lg explorebtn">
            EXPLORE
          </button></a
        >
      </div>
    </div>
  </div>
</body>
<%- include('../includes/end.ejs') %>